#VaderlandseLiefde {
  
  background-color: #FF9B00;
  color:white;
}

#redTextitalic {
 
 color: red;
 font-style: italic;
  
}

#redTextbold {
 
 color: red;
 font-weight: bold;
  
}
